@model Bienes_Raices_HAXA.Models.PropiedadV

<h3>Buscar propiedades</h3>

<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Categoría", htmlAttributes: new { @class = "control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Property.idCategoria, ViewBag.cat as List<SelectListItem>, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Property.idCategoria, "", new { @class = "text-danger" })
        </div>
    </div>
    <h4>Localización</h4>
    <div class="" id="Localizacion">
        <div class="form-group">
            @Html.Label("Provincia", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property.provincia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Property.provincia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cantón", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property.canton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Property.canton, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <h4>Características</h4>
    <div class="" id="Caracteristicas">
        <div class="form-group">
            @Html.Label("Mínimo de pisos", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property.pisos, new { htmlAttributes = new { @class = "form-control", min = 0, max = 10 } })
                @Html.ValidationMessageFor(model => model.Property.pisos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mínimo de habitaciones", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property.habitacion, new { htmlAttributes = new { @class = "form-control", min = 0, max = 10 } })
                @Html.ValidationMessageFor(model => model.Property.habitacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mínimo de baños", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property.baños, new { htmlAttributes = new { @class = "form-control", min = 0, max = 10 } })
                @Html.ValidationMessageFor(model => model.Property.baños, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Mínimo de espacios de garaje", htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Property.garage, new { htmlAttributes = new { @class = "form-control", min = 0, max = 10} })
                @Html.ValidationMessageFor(model => model.Property.garage, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <h4>Precio</h4>

    <div class="price-range-block">

        <div id="slider-range" class="price-filter-range" name="rangeInput"></div>

        <div>
            <input type="number" min=0 max="2000000" oninput="validity.valid||(value='0');" id="min_price" class="form-control" style= "width:46%; min-width: 101px; color: black;height: 26px;padding: 5px; display:unset";" />
            -
            <input type="number" min=0 max="2000000" oninput="validity.valid||(value='2000000');" id="max_price" class="form-control" style= "width: 46%; min-width: 101px; color: black; height: 26px; padding: 5px; display: unset;" />
        </div>
    </div>
    <button value="Consultar" id="consultar" style="width:100%" onclick="Filtro();" class="form-control" type="submit">Consultar</button>
    @*<button type="submit" value="Consultar" onclick="Filtrar();" class="form-control" />*@
</div>